orgchar/.venv/
orgchar/orgproj/orgproj/settings.py
orgchar/orgproj/orgproj/celery.py

/migrations/
static/
media/
*.log
*.tar.gz
*.js
.log
__pycache__/
.env
.env.local
*.pyc
*.pyo
doc.md
docker-compose.yml
/logging/
*.conf.py

