{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'All organisations' %}{% endblock title %}
{% load static %}
{% block head_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<h2>All charity organisations:</h2>

<ul class="organisation-list">
    {% if filters %}
        {% for organisation in page_obj %}
            {% if organisation.filter_id in filters %}
                <li class="organisation-item">
                    <div class="organisation-info">
                        <span>{{ organisation.title }}</span>
                        <span>{{ organisation.desc|slice:":50" }}</span>
                        <a href="{% url 'organisation-detail' pk=organisation.pk slug=organisation.title|slugify %}" class="organisation-link">Go to details</a>
                    </div>

                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for organisation in page_obj %}
            <li class="organisation-item">
                <div class="organisation-info">
                        <h4>{{ organisation.title }}</h4>
                        <h6>{{ organisation.desc|slice:"0:300" }}</h6>
                    <a href="{% url 'organisation-detail' pk=organisation.pk slug=organisation.title|slugify %}" class="organisation-link">Перейти к организации</a>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>


{% if page_obj.has_other_pages %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
        <a href="?page=1">first | </a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
    {% endif %}

    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number|add:-3 %}
            <li><span>...</span></li>
        {% elif page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
        {% elif p == page_obj.number|add:3 %}
            <li><span>...</span></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li>
        <a href="?page={{ page_obj.next_page_number }}">next | </a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    </li>
    {% endif%}
</ul>
{% endif %}
{% endblock %}

